<!-- HTML Tanguy HUE -->

<!DOCTYPE html> <!-- déclaration du doctype HTML5 -->
<html lang="en"> <!-- il faut préciser la langue du document html -->

<head> <!-- entête: titre, feuilles de style, scripts, etc. -->
  <meta charset="utf-8" lang="en"> <!-- encodage des caractères : obligatoire ! -->
  <link rel="stylesheet" href="private/monPotager/style.css"> <!-- feuille de style: optionnel -->
  <link type="image/png" sizes="96x96" rel="icon" href="images/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- responsive: obligatoire -->
</head>

<body>
  <header>
    <div>
      <h1>Mon potager
        <img src="private/monPotager/images/uwu.png" alt="uwu">
      </h1>
    </div>
    <div>
      <img src="" alt="etat" id="imgEtat">
    </div>
  </header>
  <main>
    <ul id="mainUl">
      <!--Etat potager + a faire-->
      <li class="mainLi">
        <ul>
          <!--Etat potager-->
          <li>
            <div class="etatPotager">
              <label for="etat">État potager</label>
              <select name="etat" id="etat">
                <option value="0">Bon état &#128522;</option>
                <option value="1">Mauvais état &#128532;</option>
                <option value="2">À arroser &#128167;</option>
                <option value="3">En travaux &#x1F6A7;</option>
              </select>
            </div>
            <button id="retour" type="button" class="etatPotager">
              Retour
              <img src="private/monPotager/images/retour.png" alt="retour">
            </button>
          </li>
          <!--A faire-->
          <li>
            <div id="toDo">
              <h2>À faire</h2>
              <ul>
              </ul>
              <button type="button" name="button" id="ajouttache">+ Ajouter une tâche</button>
            </div>
          </li>
        </ul>
      </li>

      <!--Etat plante + représentation potager-->
      <li class="mainLi">
        <ul>
          <li id="info">
            <div class="etatPotager">
              <h2 id="infoTitre">Nom plante
                <img src="private/monPotager/images/type/tomate.png" alt="typePlante">
              </h2>
              <p id="checkArrosé">Arrosé
                <img src="private/monPotager/images/ok.png" alt="ok">
              </p>
              <br>
              <p id="infoDernArrosage">Date du dernier arrossage : 01/01/0001</p>
              <p id="infoProchArrosage">Date du prochain arrossage : 01/01/0001</p>
              <br>
              <p id="infoIntervalle">Intervalle d'arrossage : 4 jours</p>
              <p id="infoEngrais">Engrais conseillé : Rien</p>
              <br>
              <button type="button" name="button" id="arroser">Arrosé ! 💧</button>
              <p id="infoConseil">Conseil : blablabla</p>
              <button type="button" name="button" id="supprimer">Supprimer</button>
            </div>
          </li>
          <li id="potager">
            <table>
              <tbody>

              </tbody>
            </table>
          </li>
        </ul>
      </li>
    </ul>

    <!--Notification arrosé-->
    <div id="notification">
      <p>La plante a été arrosée !
        <img src="private/monPotager/images/etatPotager/arroser.png" alt="arrosoir">
      </p>
    </div>
  </main>
</body>

</html>