/* CSS Tanguy HUE INFO3 */

/* mise en page générale */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: gainsboro;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  width: 300px;
  padding: 8px;
  border-radius: 4px;
}

form > div {
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  margin-top: 18px;
  margin-bottom: 18px;
}

input[type="text"],
input[type="date"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input[type="button"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
