/* CSS Tanguy HUE et Bastien BAUDOUIN INFO3 */

/* mise en page générale */
*{
  margin: 0;
  padding: 0;
}

body{
  background-color: gainsboro;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

button {
  cursor: pointer;
}

/* header */
header h1 {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
}



/* main */
main{
  margin-left: 4px;
  margin-right: 4px;
}

main ul:not(.desc) {
  display: block;
}

main ul li:not(.desc) {
  display: inline-block;
}

main #general{
  display: flex;
  flex-direction: column;
}

main #general button {
  margin-bottom: 16px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 1px 0px 0px grey;
  padding: 8px;
  padding-right: 126px;
  border: none;
  text-align: left;
}


/* Calendrier */
#calendar{
  width: 100%;
  padding: 0 20%;
}

#calendar table{
  width: 100%;
}