html, body{
    height: 100%;
}

#login{
    background-color: #f5f5f5;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
}

#login form {
    margin-top: calc(50vh - 200px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login form input:not([type="button"]) {
    margin: 1em;
    width: 100%;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #888888;
    border: none;
    padding: 4px;
}

#login form input:last-of-type{
    margin-top: 1em;
    border-radius: 8px;
    background-color: greenyellow;
    box-shadow: 2px 2px 2px #888888;
    border: none;
    padding: 4px;
    align-self: flex-end;
}

.container {
    margin-bottom: 0.5em;
}

.footer {
    background-color: #f5f5f5;
    text-align: center;
}