html,
body {
    background-color: rgb(228, 228, 228);
    width: 100vw;
}

div.erreurChargement {
    text-align: center;
}

img.erreurChargement {
    width: 40vw;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #888888;
    margin-bottom: 2em;
}

h1.erreurChargement {
    padding: 2em;
}

#login {
    overflow: hidden;
    padding-top: 16px;
    text-align: center;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#presentation {
    width: 50vw;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #888888;
    transition: all 1s ease-in-out;
}

#presentation:hover {
    opacity: 0.4;
    width: 48vw;
}

#login form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
}

#login form input:not([type="button"]) {
    margin: 1em;
    width: 300px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #888888;
    border: none;
    padding: 4px;
}

#login form input:focus {
    border: 1px solid greenyellow;
}

#login form ul input {
    margin-top: 1em;
    border-radius: 8px;
    background-color: greenyellow;
    box-shadow: 2px 2px 2px #888888;
    border: none;
    padding: 4px;
    align-self: flex-end;
    transition: all 0.2s ease-in-out;
}

#login form ul input:hover {
    background-color: rgb(190, 255, 93);
    cursor: pointer;
}

#login ul {
    width: 300px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 0;
    margin: 0;
}


#notificationAccueil {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 30px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid red;
    padding: 8px;
    width: 250px;
    right: calc(50vw - 125px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

#notificationAccueil p {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 0;
}

#notificationAccueil img {
    height: 32px;
    margin-right: 8px;
}