/* CSS Tanguy HUE & Bastien BAUDOUIN INFO3 */

/* mise en page générale */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: gainsboro;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 100vw;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

header h1 {
  padding-top: 30px;
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 img {
  width: 32px;
  margin-left: 16px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 500px;
  padding: 8px;
  border-radius: 4px;
}

form>div:first-of-type p{
  font-size: 14px;
  margin-bottom: 0;
}

form>div {
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  margin-top: 24px;
  margin-bottom: 24px;
  position: relative;
}

form div input#assignation {
  margin-left: 8px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
  width: 200px;
  transition: all 0.2s ease-in-out;
}

input[type="text"],
input[type="date"],
input[type="password"],
input[type="email"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 8px;
}

input:first-of-type {
  margin-top: 0;
}

input::placeholder,
textarea::placeholder {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: small;
}

label i {
  font-size: 12px;
}

label {
  margin-bottom: 4px;
}

textarea {
  resize: vertical;
  max-height: 230px;
  min-height: 90px;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 1px solid #4CAF50;
}

#bouton {
  position: relative;
  padding: 16px;
  width: 484px;
  height: 70px;
}

#bouton input {
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  position: absolute;
  padding: 8px;
  width: 142px;
  transition: all 0.2s ease-in-out;
}

#bouton input:first-of-type {
  left: 8px;
  background-color: red;
}

#bouton input:first-of-type:hover {
  background-color: rgb(255, 53, 53)
  ;
}

#bouton input:last-of-type {
  right: 8px;
  background-color: #4CAF50;
}

#bouton input:last-of-type:hover {
  background-color: #72b774;
}

#notificationRegister {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 30px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid red;
  padding: 8px;
  width: 250px;
  right: calc(50vw - 125px);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

#notificationRegister p {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 0;
}

#notificationRegister img {
  height: 32px;
  margin-right: 8px;
}

#labelIcone {
  display: flex;
  align-items: center;
}

#imageIcone {
  height: 24px;
}