<body>
<div id="login">
	<section class="container">
		<form>
			<input type="text" name="id" placeholder="Identifiant" id="identifiant">
			<input type="password" name="password" placeholder="Mot de passe" id="password">

			<input type="button" id="login-btn" value="Se connecter">
		</form>
	</section>
</div>
</body>
