<!-- HTML Tanguy HUE -->

<!DOCTYPE html> <!-- déclaration du doctype HTML5 -->
<html lang="en"> <!-- il faut préciser la langue du document html -->

<head> <!-- entête: titre, feuilles de style, scripts, etc. -->
	<meta charset="utf-8" lang="en"> <!-- encodage des caractères : obligatoire ! -->
	<link rel="stylesheet" href="public/css/style.css"> <!-- feuille de style: optionnel -->
	<link type="image/png" sizes="96x96" rel="icon" href="images/favicon.png">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- responsive: obligatoire -->
</head>

<body>
	<div id="login">
		<h1>Connexion à mon potager
			<img src="public/images/favicon.png" alt="logo" id="logo">
		</h1>
		<p>Connectez-vous pour accéder à votre potager personnel</p>
		<img src="public/images/presentation.jpg" alt="presentation" id="presentation">
		<form>
			<input type="text" name="id" placeholder="Identifiant" id="identifiant">
			<input type="password" name="password" placeholder="Mot de passe" id="password">
			<ul>
				<li>
					<input type="button" id="register-btn" value="Créer un compte">
				</li>
				<li>
					<input type="button" id="login-btn" value="Se connecter">
				</li>
			</ul>
		</form>
	</div>

	<!--Notification erreur-->
	<div id="notificationAccueil">
		<p>
			<img src="public/images/mauvais.png" alt="erreur">
		</p>
	</div>
</body>

</html>