/* CSS Tanguy HUE INFO3 */

/* mise en page générale */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: gainsboro;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
}

button {
  cursor: pointer;
}

/* header */
header #infoUser {
  position: absolute;
  background-color: rgb(223, 219, 172);
  color: black;
  text-align: left;
  margin-top: 16px;
  margin-left: 12px;
  padding: 2px;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0px 1px 0px 0px grey;
  width: 200px;
}

header #infoUser p {
  margin: 6px;
}

header #infoUser button {
  width: 100%;
  text-align: center;
  background: transparent;
  border-style: none;
  margin-top: 4px;
  margin-bottom: 4px;
}

header #infoEtat {
  width: 200px;
  position: absolute;
  background-color: white;
  color: black;
  text-align: left;
  margin-top: 16px;
  top: 144px;
  margin-left: 12px;
  padding: 2px;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0px 1px 0px 0px grey;
  text-align: center;
}

header #infoEtat p {
  margin: 6px;
}

header #infoEtat p img {
  width: 24px;
}

header #météo {
  background-color: white;
  position: absolute;
  right: 16px;
  top: 16px;
  border-radius: 16px;
  box-shadow: 0px 1px 0px 0px grey;
  padding: 8px;
}

header #météo{
  cursor: url(images/plante.cur) 24 24, auto;
}

header #météo:hover #titre h2 {
  color: #209fe5;
}

header #météo h2 {
  color: grey;
  font-size: 16px;
  margin-left: 24px;
}

header #météo table {
  text-align: center;
}

header #météo table td {
  padding: 4px;
}

header #météo button {
  position: inherit;
  background: transparent;
  border-style: none;
  top: 4px;
  right: 16px;
  transition: transform 0.3s ease;
}

header #météo button:hover {
  transform: rotate(-360deg);
}

header #météo button img {
  width: 24px;
  height: 24px;
  margin-top: 4px;
}

header #météo img {
  margin-top: 8px;
  width: 36px;
  height: 36px;
}

/* main */
main {
  margin-top: 45vh;
  margin-left: 4px;
  margin-right: 4px;
}

main img:first-of-type {
  position: absolute;
  top: 16px;
  left: 230px;
  width: 500px;
  border-radius: 8px;
}

main img:first-of-type:hover {
  cursor: url(images/plante.cur) 24 24, auto;
  animation: pulse 1s;
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 1220px) {
  main img:first-of-type {
    width: calc(100vw - 720px);
  }
}

main ul.ulToDo {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

main ul.ulToDo>li {
  margin-right: 32px;
  margin-left: 32px;
}

main ul.ulToDo>li:first-of-type {
  margin-left: 20px;
}

main ul.ulToDo>li:last-of-type {
  margin-right: 20px;
}

main #general {
  display: flex;
  flex-direction: column;
}

main #general button {
  margin-bottom: 16px;
  margin-top: 16px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 1px 0px 0px grey;
  padding: 8px;
  padding-right: 126px;
  border: none;
  text-align: left;
  white-space: nowrap;
  transition: all 0.2s ease-in-out;
  font-size: 16px;
}

main #general button:hover {
  background-color: rgb(223, 219, 172);
}

main #toDo {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 1px 0px 0px grey;
  padding: 8px;
  position: relative;
  padding-bottom: 28px;
  padding-right: 30px;
  right: 4px;
}

main #toDo h2 {
  margin-left: 16px;
  margin-bottom: 8px;
}

main #toDo ul {
  margin-left: 20px;
  list-style-type: none;
  max-height: 140px;
  overflow-y: auto;
  overflow-x: hidden;
}

main #toDo ul li:not(.desc) {
  margin-bottom: 14px;
  height: 100%;
  width: 100%;
  margin-right: 10px;
}

main #toDo ul li form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

main #toDo ul li label {
  margin-left: 4px;
}

main #toDo ul li label.nomTache {
  margin-left: 4px;
  font-weight: bold;
  font-size: 14px;
}

main #toDo ul li label.description {
  margin-left: 4px;
  margin-top: -10px;
  font-size: 12px;
  margin-right: 20px;
  width: 300px;
}

main #toDo ul li label.date {
  margin-left: 6px;
  margin-right: 24px;
  font-size: 12px;
}

main #toDo ul li label {
  margin-left: 4px;
}

main #toDo ul li input[type="button"] {
  margin-left: 4px;
  border-style: none;
  border-radius: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

main #toDo ul li input[type="button"][name="assignation"] {
  width: 200px;
}

main #toDo ul li input[type="button"][name="assignation"] {
  width: 200px;
}

main #toDo ul li input.assigné {
  background-color: rgb(223, 219, 172);
}

main #toDo ul li input.assigné:hover {
  background-color: rgb(229, 226, 190);
}

main #toDo ul li input.assigné:hover {
  background-color: rgb(229, 226, 190);
}

main #toDo ul li input.dejaassigne {
  background-color: rgb(242, 153, 58);
  cursor: default;
  color: #f6f6f6;
}

main #toDo ul li input.nonassigné {
  background-color: #e2e2e4;
}

main #toDo ul li input.nonassigné:hover {
  background-color: #efefef;
}

main #toDo ul li input[type="button"][name="suppression"] {
  width: 100px;
  background-color: #f78888;
}

main #toDo ul li input[type="button"][name="suppression"]:hover {
  width: 100px;
  background-color: #ffa8a8;
}

main #toDo button {
  border-style: none;
  background-color: transparent;
  position: absolute;
  right: 8px;
}