<body>
    <!--Utilisation du mécanimes des "partials" de Mustache pour importer le header qui sera commun à toutes les pages -->
    {{>header}}
    <div class="container">
        <main class="row">
            <div class="card col-md">
                <img src="https://s1.qwant.com/thumbr/0x0/3/3/b349d57eb1cc24b020304b907ffdc49dc8047391d1fad58ec32a555f73c809/polytech_nantes.jpg?u=https%3A%2F%2Fstatic-site.parentsdanslesparages.com%2Fimages%2F2012%2F12%2F27103505%2Fpolytech_nantes.jpg&q=0&b=1&p=0&a=1" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Admin panel</h5>
                    <p class="card-text">This is where you should change admin stufs.</p>
                    <a href="/" class="btn btn-primary">Back to Homepage</a>
                </div>
            </div>
            <div class="card col-md">
                <div class="card-body">
                    <h5 class="card-title">Another panel</h5>
                    <p class="card-text">You can add more panels !!!</p>
                </div>
        </main>
    </div>
    <!--Utilisation du mécanimes des "partials" de Mustache pour importer le footer qui sera commun à toutes les pages -->
    {{>footer}}
</body>
